<main class="main">
    <div class="content">
        <h1>Gym Tracker</h1>
        <p class="subtitle">🏋️ Il tuo programma di allenamento personale</p>

        <div class="filter-section">
            <app-dropdown label="Filtra per" [options]="['Tutti', 'Petto', 'Spalle', 'Gambe', 'Braccia', 'Core']"
                (selectionChange)="onOptionSelected($event)">
            </app-dropdown>
            <div class="button-container">
                <button class="btn-insert" (click)="insertExercise()">
                    +
                </button>
            </div>
        </div>


        @if (showModal) {
        <app-modal [isEditMode]="isEditMode" (close)="showModal = false"
            (submitExercise)="isEditMode ? updateExercise($event) : addExercise($event)"
            [exercise]="selectedExercise"></app-modal>
        }

        @for (item of exercises; track item.id) {
        <app-exercise [exercise]="item" (editExercise)="editExercise($event)"
            (deleteExercise)="deleteExercise($event)"></app-exercise>
        }
    </div>
</main>

<router-outlet />